# System files
.DS_Store

# Virtual environments
.venv/
venv/

# Python cache and Jupyter checkpoints
**/__pycache__/
**/.ipynb_checkpoints/

# Common lab directories to be ignored
# **/data/
**/secrets/
**/test/
**/.DS_Store
**/.ipynb_checkpoints
**/__pycache__/

# Lab specific directories to be ignored
demos/04_gcs_bq/cloud_storage.ipynb
directed_work/04_vertex/data/*
directed_work/04_vertex/Dockerfile
directed_work/04_vertex/requirements.txt