# System files
.DS_Store

# Virtual environments
.venv/
venv/

# Common directories to be ignored
**/secrets/
**/test/
**/data/
**/.DS_Store
**/.ipynb_checkpoints
**/__pycache__/
**/cloud_storage.ipynb
